.productCard {
    border: 1px solid #d1d1d1;
    border-radius: 8px;
    padding: 16px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    height: 400px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.productCard:hover {
    transform: translateY(5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.productImage {
    width: 80%;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 12px;
}

.productName {
    border-top: 1px solid #d1d1d1;
    font-weight: 200;
    padding-top: 0.5rem;
    font-size: 1.2rem;
    color: #333;
    margin: 12px 0;
}

.productPrice {
    font-weight: 500;
    margin: 0;
    font-size: 1.2em;
    color: #232323;
}

.stock {
    font-weight: 100;
}

.lowStock {
    color: orange;
}
.inStock {
    color: green;
}

.outOfStock {
    color: red;
}
